html {
    width: 75%;
    height: 100%;
    min-height: 100%;
    margin: 20px auto;
    font-size: 16px;
    background-color: #FFFFFF;
}

body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}

#imgupload {
    display: block;
}

#header {
    display: flex;
    justify-content: space-between;
}

.new-content {
    border-style: dashed;
    width: 200px;
}

/*a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}*/

#file-log {
    border-radius: 10px 10px 0 0;
}

.tab {
    text-align: center;
    font-size: xx-large;
    color: black;
    background: lightblue;
}


table {
    width: 100%;
}

th {
    font-size: larger;
}

th, td {
    text-align: center;
}

td.detail-heading {
    font-size: x-large;
}

table, th, td {
    border: 1px solid #696969;
}

.content-wrapper {
    width: 100%;
    max-height: 1100px;
    overflow-y: scroll;
}

.detail-wrapper {
    display: none;
    max-height: none !important;
    overflow: hidden;
}

.details-table {
    text-align: center;

}

img.img-thumb {
    max-width: 200px;
    padding: 5px;
}

td.other-attributes {
    width: 250px;
}

@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}

@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}
